<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} CV</title>
  <link href="{{ '/media/' | append: site.style | append: '-screen.css' | relative_url }}" type="text/css" rel="stylesheet" media="screen">
  <link href="{{ '/media/' | append: site.style | append: '-print.css' | relative_url }}" type="text/css" rel="stylesheet" media="print">
</head>
<body>
  <div id="main">
    <div id="content">
      <nav id="lang-switcher" aria-label="Language selector">
        <a href="{{ '/' | relative_url }}" {% if page.lang == 'es' %}aria-current="page"{% endif %}>Español</a>
        |
        <a href="{{ '/en/' | relative_url }}" {% if page.lang == 'en' %}aria-current="page"{% endif %}>English</a>
      </nav>

    {{ content }}
    </div>
  </div>
</body>
</html>